<% layout('layouts/boilerplate')%>

    <h1 style="font-size: 2.5vw">Market Response</h1>
    
    <div class="d-flex bd-highlight"> <input type=" text" id="myInput5" onkeyup="myFunction()"
        style="width:15em; padding: 2px 2px 5px 10px" placeholder="Filter for Company...">
    </div>

    <div class="table-responsive">
        <table class="table" ; id="eoi5Table">
            <thead>
                <tr>
                    <!-- <th>
                    Project
                    </th> -->
                    <th onclick="sortTable(0)">
                    Package
                    </th>
                    <th onclick="sortTable(0)">
                    Company
                    </th>
                    <th>
                    Country
                    </th>
                    <th>
                    Date
                    </th>
                    <th>
                    By
                    </th>
                </tr>
            </thead>

            <tbody>
                <tr>
                    <% for(let evaluation of evaluations) { %>
                   
                      
                    <td>
                        
                        <a style=color:blue" href="/expressions/<%= evaluation.expression._id %>"><%=evaluation.expression.number%></a>
                    </td>
                    <td>
                        <%=evaluation.company%>
                    </td>
                    <td>
                        <%=evaluation.country%>
                    </td>
                    <td>
                        <em><%= evaluation.updatedAt.toDateString()%></em>
                             <% if(Math.floor( (evaluation.updatedAt - Date.now())/10368000000) > 1)      {%>
                                 (<%= - Math.floor( (evaluation.updatedAt - Date.now())/10368000000)%> week(s) ago)
                                 <% } %>  
                    </td>
                    <td>
                        <%= evaluation.author.username%>
                    </td>
                </tr>
            </tbody>  
            <% }%>
        </table>
    </div>


    <br>
 

 <script>
        function sortTable(n) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.getElementById("eoi5Table");
            switching = true;
            // Set the sorting direction to ascending:
            dir = "asc";
            /* Make a loop that will continue until
            no switching has been done: */
            while (switching) {
                // Start by saying: no switching is done:
                switching = false;
                rows = table.rows;
                /* Loop through all table rows (except the
                first, which contains table headers): */
                for (i = 1; i < (rows.length - 1); i++) {
                    // Start by saying there should be no switching:
                    shouldSwitch = false;
                    /* Get the two elements you want to compare,
                    one from current row and one from the next: */
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    /* Check if the two rows should switch place,
                    based on the direction, asc or desc: */
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            // If so, mark as a switch and break the loop:
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    /* If a switch has been marked, make the switch
                    and mark that a switch has been done: */
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    // Each time a switch is done, increase this count by 1:
                    switchcount++;
                } else {
                    /* If no switching has been done AND the direction is "asc",
                    set the direction to "desc" and run the while loop again. */
                    if (switchcount == 0 && dir == "asc") {
                        dir = "desc";
                        switching = true;
                    }
                }
            }
        }
    </script>


    <script>
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput5");
            filter = input.value.toUpperCase();
            table = document.getElementById("eoi5Table");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>

  