<% layout('layouts/boilerplate')%>

<div class="container mt-3">
    
   
         <form action="/works/<%=work._id%>?_method=PUT" method="POST" novalidate class = "validated-form">

        <% if(work.evaluationworks.length===1) {%>
                <div class="row">  
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                            <label class="form-label" for="bidOpeningN1">Bidder 1 Name</label>
                            <input class="form-control" type="text" id="bidOpeningN1" name="work[bidOpeningN1]" value="<%=work.bidOpeningN1%>">
                    </div>
                </div>
    
              

                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                        <label class="form-label" for="bidOpeningV1">Bidder 1 Bid Price (US$)</label>
                        <input class="form-control" type="number" id="bidOpeningV1" name="work[bidOpeningV1]" value="<%=work.bidOpeningV1%>">
                    </div>
                </div>
            </div>
            <% if(work.lots>1) {%>  
            <div class="col-sm-6">
                <div class="mb-3 mt-3">
                    <label class="form-label" for="bidOpeningL1">Bidder 1 Nr of Lots</label>
                    <input class="form-control" type="number" id="bidOpeningL1" name="work[bidOpeningL1]" value="<%=work.bidOpeningL1%>">
                </div>
            </div>
            <% } %> 
        </div>
            <% } %> 
                

        <% if(work.evaluationworks.length===2) {%>
                <div class="row">  
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                            <label class="form-label" for="bidOpeningN1">Bidder 1 Name</label>
                            <input class="form-control" type="text" id="bidOpeningN1" name="work[bidOpeningN1]" value="<%=work.bidOpeningN1%>">
                    </div>
                </div>
    
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                        <label class="form-label" for="bidOpeningV1">Bidder 1 Bid Price (US$)</label>
                        <input class="form-control" type="number" id="bidOpeningV1" name="work[bidOpeningV1]" value="<%=work.bidOpeningV1%>">
                    </div>
                </div>
                <% if(work.lots>1) {%>  
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                        <label class="form-label" for="bidOpeningL1">Bidder 1 Nr of Lots</label>
                        <input class="form-control" type="number" id="bidOpeningL1" name="work[bidOpeningL1]" value="<%=work.bidOpeningL1%>">
                    </div>
                </div>
                <% } %> 
            </div>
            <div class="row">  
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                            <label class="form-label" for="bidOpeningN2">Bidder 2 Name</label>
                            <input class="form-control" type="text" id="bidOpeningN2" name="work[bidOpeningN2]" value="<%=work.bidOpeningN2%>">
                    </div>
                </div>
    
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                        <label class="form-label" for="bidOpeningV2">Bidder 2 Bid Price (US$)</label>
                        <input class="form-control" type="number" id="bidOpeningV2" name="work[bidOpeningV2]" value="<%=work.bidOpeningV2%>">
                    </div>
                </div>
                <% if(work.lots>1) {%>  
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                        <label class="form-label" for="bidOpeningL2">Bidder 2 Nr of Lots</label>
                        <input class="form-control" type="number" id="bidOpeningL2" name="work[bidOpeningL2]" value="<%=work.bidOpeningL2%>">
                    </div>
                </div>
                <% } %> 
            </div>
       
            <% } %> 
                

        <% if(work.evaluationworks.length===3) {%>
            <div class="row">  
            <div class="col-sm-6">
                <div class="mb-3 mt-3">
                        <label class="form-label" for="bidOpeningN1">Bidder 1 Name</label>
                        <input class="form-control" type="text" id="bidOpeningN1" name="work[bidOpeningN1]" value="<%=work.bidOpeningN1%>">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="mb-3 mt-3">
                    <label class="form-label" for="bidOpeningV1]">Bidder 1 Bid Price (US$)</label>
                    <input class="form-control" type="number" id="bidOpeningV1]" name="work[bidOpeningV1]" value="<%=work.bidOpeningV1%>">
                </div>
                <% if(work.lots>1) {%>
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                        <label class="form-label" for="bidOpeningL1">Bidder 1 Nr of Lots</label>
                        <input class="form-control" type="number" id="bidOpeningL1" name="work[bidOpeningL1]" value="<%=work.bidOpeningL1%>">
                    </div>
                </div>
                <% } %>
            </div>
        </div>
        <div class="row">  
            <div class="col-sm-6">
                <div class="mb-3 mt-3">
                        <label class="form-label" for="bidOpeningN2">Bidder 2 Name</label>
                        <input class="form-control" type="text" id="bidOpeningN2" name="work[bidOpeningN2]" value="<%=work.bidOpeningN2%>">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="mb-3 mt-3">
                    <label class="form-label" for="bidOpeningV2">Bidder 2 Bid Price (US$)</label>
                    <input class="form-control" type="number" id="bidOpeningV2" name="work[bidOpeningV2]" value="<%=work.bidOpeningV2%>">
                </div>
            </div>
            <% if(work.lots>1) {%>
            <div class="col-sm-6">
                <div class="mb-3 mt-3">
                    <label class="form-label" for="bidOpeningL2">Bidder 2 Nr of Lots</label>
                    <input class="form-control" type="number" id="bidOpeningL2" name="work[bidOpeningL2]" value="<%=work.bidOpeningL2%>">
                </div>
            </div>
            <% } %> 
        </div>
        <div class="row">  
            <div class="col-sm-6">
                <div class="mb-3 mt-3">
                        <label class="form-label" for="bidOpeningN3">Bidder 3 Name</label>
                        <input class="form-control" type="text" id="bidOpeningN3" name="work[bidOpeningN3]" value="<%=work.bidOpeningN3%>">
                </div>
            </div>

            <div class="col-sm-6">
                <div class="mb-3 mt-3">
                    <label class="form-label" for="bidOpeningV3">Bidder 3 Bid Price (US$)</label>
                    <input class="form-control" type="number" id="bidOpeningV3" name="work[bidOpeningV3]" value="<%=work.bidOpeningV3%>">
                </div>
            </div>
            <% if(work.lots>1) {%>       
            <div class="col-sm-6">
                <div class="mb-3 mt-3">
                    <label class="form-label" for="bidOpeningL3">Bidder 3 Nr of Lots</label>
                    <input class="form-control" type="number" id="bidOpeningL3" name="work[bidOpeningL3]" value="<%=work.bidOpeningL3%>">
                </div>
            </div>
            <% } %> 
        </div>
        <% } %> 
            
                        

        <% if(work.evaluationworks.length>3) {%>
            <div class="row">  
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                            <label class="form-label" for="bidOpeningN1">Bidder 1 Name</label>
                            <input class="form-control" type="text" id="bidOpeningN1" name="work[bidOpeningN1]" value="<%=work.bidOpeningN1%>">
                    </div>
                </div>
    
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                        <label class="form-label" for="bidOpeningV1]">Bidder 1 Bid Price (US$)</label>
                        <input class="form-control" type="number" id="bidOpeningV1]" name="work[bidOpeningV1]" value="<%=work.bidOpeningV1%>">
                    </div>
                    <% if(work.lots>1) {%>
                    <div class="col-sm-6">
                        <div class="mb-3 mt-3">
                            <label class="form-label" for="bidOpeningL1">Bidder 1 Nr of Lots</label>
                            <input class="form-control" type="number" id="bidOpeningL1" name="work[bidOpeningL1]" value="<%=work.bidOpeningL1%>">
                        </div>
                    </div>
                    <% } %>
                </div>
            </div>
    
            <div class="row">  
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                            <label class="form-label" for="bidOpeningN2">Bidder 2 Name</label>
                            <input class="form-control" type="text" id="bidOpeningN2" name="work[bidOpeningN2]" value="<%=work.bidOpeningN2%>">
                    </div>
                </div>
    
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                        <label class="form-label" for="bidOpeningV2">Bidder 2 Bid Price (US$)</label>
                        <input class="form-control" type="number" id="bidOpeningV2" name="work[bidOpeningV2]" value="<%=work.bidOpeningV2%>">
                    </div>
                </div>
                <% if(work.lots>1) {%>
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                        <label class="form-label" for="bidOpeningL2">Bidder 2 Nr of Lots</label>
                        <input class="form-control" type="number" id="bidOpeningL2" name="work[bidOpeningL2]" value="<%=work.bidOpeningL2%>">
                    </div>
                </div>
                <% } %> 
            </div>
    
            <div class="row">  
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                            <label class="form-label" for="bidOpeningN3">Bidder 3 Name</label>
                            <input class="form-control" type="text" id="bidOpeningN3" name="work[bidOpeningN3]" value="<%=work.bidOpeningN3%>">
                    </div>
                </div>
    
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                        <label class="form-label" for="bidOpeningV3">Bidder 3 Bid Price (US$)</label>
                        <input class="form-control" type="number" id="bidOpeningV3" name="work[bidOpeningV3]" value="<%=work.bidOpeningV3%>">
                    </div>
                </div>
                <% if(work.lots>1) {%>       
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                        <label class="form-label" for="bidOpeningL3">Bidder 3 Nr of Lots</label>
                        <input class="form-control" type="number" id="bidOpeningL3" name="work[bidOpeningL3]" value="<%=work.bidOpeningL3%>">
                    </div>
                </div>
                <% } %> 
            </div>
    
            <div class="row">  
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                            <label class="form-label" for="bidOpeningN4">Bidder 4 Name</label>
                            <input class="form-control" type="text" id="bidOpeningN4" name="work[bidOpeningN4]" value="<%=work.bidOpeningN4%>">
                    </div>
                </div>
    
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                        <label class="form-label" for="bidOpeningV4">Bidder 4 Bid Price (US$)</label>
                        <input class="form-control" type="number" id="bidOpeningV4" name="work[bidOpeningV4]" value="<%=work.bidOpeningV4%>">
                    </div>
                </div>
                <% if(work.lots>1) {%>       
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                        <label class="form-label" for="bidOpeningL4">Bidder 4 Nr of Lots</label>
                        <input class="form-control" type="number" id="bidOpeningL4" name="work[bidOpeningL4]" value="<%=work.bidOpeningL4%>">
                    </div>
                </div>
                <% } %> 
            </div>
    
            <div class="row">  
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                            <label class="form-label" for="bidOpeningN5">Bidder 5 Name</label>
                            <input class="form-control" type="text" id="bidOpeningN5" name="work[bidOpeningN5]" value="<%=work.bidOpeningN5%>">
                    </div>
                </div>
    
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                        <label class="form-label" for="bidOpeningV5">Bidder 5 Bid Price (US$)</label>
                        <input class="form-control" type="number" id="bidOpeningV5" name="work[bidOpeningV5]" value="<%=work.bidOpeningV5%>">
                    </div>
                </div>
                <% if(work.lots>1) {%>       
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                        <label class="form-label" for="bidOpeningL5">Bidder 5 Nr of Lots</label>
                        <input class="form-control" type="number" id="bidOpeningL5" name="work[bidOpeningL5]" value="<%=work.bidOpeningL5%>">
                    </div>
                </div>
                <% } %> 
            </div>
           
            <div class="row">  
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                            <label class="form-label" for="bidOpeningN6">Bidder 6 Name</label>
                            <input class="form-control" type="text" id="bidOpeningN6" name="work[bidOpeningN6]" value="<%=work.bidOpeningN6%>">
                    </div>
                </div>
    
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                        <label class="form-label" for="bidOpeningV6">Bidder 6 Bid Price (US$)</label>
                        <input class="form-control" type="number" id="bidOpeningV6" name="work[bidOpeningV6]" value="<%=work.bidOpeningV6%>">
                    </div>
                </div>
                <% if(work.lots>1) {%>       
                <div class="col-sm-6">
                    <div class="mb-3 mt-3">
                        <label class="form-label" for="bidOpeningL6">Bidder 6 Nr of Lots</label>
                        <input class="form-control" type="number" id="bidOpeningL6" name="work[bidOpeningL6]" value="<%=work.bidOpeningL6%>">
                    </div>
                </div>
                <% } %> 
            </div>
    <% } %>                
                     
          
          
           

       


        
            <div class="mb-3">
                <button class=" btn btn-warning btn-sm">Confirm</button>
            </div>
              
    </form>

</div>