<% layout('layouts/boilerplate')%>

<div class="container mt-3">
    
   
    <form action="/works/<%=work._id%>?_method=PUT" method="POST" novalidate class = "validated-form">

    <div class="row"> 
        <hr>
        <div> Contract 1</div>

            <div class="col-sm-4">
                <div class="mb-3 mt-3">
                    <label class="form-label" for="contractDate">Contract Date</label>
                    <input class="form-control" type="date" id="contractDate" name="work[contractDate]" value="<%=work.contractDate%>" required>
                </div>
            </div>
        
            <div class="col-sm-4">
                <div class="mb-3 mt-3">
                    <label class="form-label" for="contractComp">Contractor (Company) </label>
                    <input class="form-control" type="string" id="contractComp" name="work[contractComp]" value="<%=work.contractComp%>" required>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="mb-3 mt-3">
                    <label class="form-label" for="contractName">Contract Name </label>
                    <input class="form-control" type="string" id="contractName" name="work[contractName]" value="<%=work.contractName%>" required>
                </div>
            </div>
        
           
            <div class="col-sm-4">
                <div class="mb-3 mt-3">
                        <label class="form-label" for="contractSum">Contract Sum (US$)</label>
                        <input class="form-control" type="number" id="contractSum" name="work[contractSum]" value="<%=work.contractSum%>" required>
                </div>
            </div>


            <div class="col-sm-4">
                <div class="mb-3 mt-3">
                <label class="form-label" for="contractType" class="form-label">Contract Type</label>
                <input class="form-control" list="contracts" id="contractType" name="work[contractType]" required>
                <datalist id="contracts">
                    <option value="Supply of Goods">
                    <option value="Time based">
                    <option value="Lump sum">
                    <option value="Partial lumpsum">
                    <option value="Transaction based">
                    <option value="Other">
                </datalist>
                </div>
            </div>
        

            <br>
            <hr>


       <div> Contract 2</div>

            <div class="col-sm-4">
                <div class="mb-3 mt-3">
                    <label class="form-label" for="contractDate2">Contract Date</label>
                    <input class="form-control" type="date" id="contractDate2" name="work[contractDate2]" value="<%=work.contractDate2%>" required>
                </div>
            </div>
        

            <div class="col-sm-4">
                <div class="mb-3 mt-3">
                    <label class="form-label" for="contractComp2">Contractor (Company) </label>
                    <input class="form-control" type="string" id="contractComp2" name="work[contractComp2]" value="<%=work.contractComp2%>" required>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="mb-3 mt-3">
                    <label class="form-label" for="contractName2">Contract Name </label>
                    <input class="form-control" type="string" id="contractName2" name="work[contractName2]" value="<%=work.contractName2%>" required>
                </div>
            </div>
        
           
            <div class="col-sm-4">
                <div class="mb-3 mt-3">
                        <label class="form-label" for="contractSum2">Contract Sum (US$)</label>
                        <input class="form-control" type="number" id="contractSum2" name="work[contractSum2]" value="<%=work.contractSum2%>" required>
                </div>
            </div>


            <div class="col-sm-4">
                <div class="mb-3 mt-3">
                <label class="form-label" for="contractType2" class="form-label">Contract Type</label>
                <input class="form-control" list="contracts" id="contractType2" name="work[contractType2]" required>
                <datalist id="contracts">
                    <option value="Supply of Goods">
                    <option value="Time based">
                    <option value="Lump sum">
                    <option value="Partial lumpsum">
                    <option value="Transaction based">
                    <option value="Other">
                </datalist>
                </div>
            </div>

            <div> Contract 3</div>

            <div class="col-sm-4">
                <div class="mb-3 mt-3">
                    <label class="form-label" for="contractDate3">Contract Date</label>
                    <input class="form-control" type="date" id="contractDate3" name="work[contractDate3]" value="<%=work.contractDate3%>" required>
                </div>
            </div>

            <div class="col-sm-4">
                <div class="mb-3 mt-3">
                    <label class="form-label" for="contractComp3">Contractor (Company) </label>
                    <input class="form-control" type="string" id="contractComp3" name="work[contractComp3]" value="<%=work.contractComp3%>" required>
                </div>
            </div>
        
            <div class="col-sm-4">
                <div class="mb-3 mt-3">
                    <label class="form-label" for="contractName3">Contract Name </label>
                    <input class="form-control" type="string" id="contractName3" name="work[contractName3]" value="<%=work.contractName3%>" required>
                </div>
            </div>
        
           
            <div class="col-sm-4">
                <div class="mb-3 mt-3">
                        <label class="form-label" for="contractSum3">Contract Sum (US$)</label>
                        <input class="form-control" type="number" id="contractSum3" name="work[contractSum3]" value="<%=work.contractSum3%>" required>
                </div>
            </div>


            <div class="col-sm-4">
                <div class="mb-3 mt-3">
                <label class="form-label" for="contractType3" class="form-label">Contract Type</label>
                <input class="form-control" list="contracts" id="contractType3" name="work[contractType3]" required>
                <datalist id="contracts">
                    <option value="Supply of Goods">
                    <option value="Time based">
                    <option value="Lump sum">
                    <option value="Partial lumpsum">
                    <option value="Transaction based">
                    <option value="Other">
                </datalist>
                </div>
            </div>


        <div class="mb-3">
                <button class=" btn btn-warning btn-sm">Confirm</button>
        </div>

        
    </div>           
    </form>

</div>
  