<% layout('layouts/boilerplate')%>
    
<div class="row">

<!-- Block On TOP -->
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
                
            <h2 style="font-size: 2em"> 
            <a href="/products/<%=work.product._id%>"><%=work.product.name%></a><br>Package: <%=work.number%> [<%=work.description%>]</h2>
          
            <div class="row">
            <div class="col-sm-4" style=" line-height:1.0">
                        <span style="color:rgb(119, 119, 121); font-size: 0.8em"> Submitted by: <%= work.author.username%>
                        <br><em>On: <%= work.createdAt.toDateString()%></em>
                        <% if( (work.createdAt - Date.now())/604800000 <= -1)      {%>
                            (<%= - Math.floor( (work.createdAt - Date.now())/1209600000)%> week(s) ago)
                            <% } %> 
                        </span>
            </div>
            <div class="col-sm-4" style=" line-height:1.0">   
                        <% if(work.createdAt.toDateString() != work.updatedAt.toDateString()) {%>
                        <span style="color:rgb(119, 119, 121); font-size: 0.8em"> Edited by:
                        <%= work.editor.username%>
                        <br><em><%= work.updatedAt.toDateString()%></em>
                        <% if( (work.updatedAt - Date.now())/604800000 <= -1)      {%>
                            (<%= - Math.floor( (work.updatedAt - Date.now())/1209600000)%> week(s) ago)
                             <% } %>  
                        </span>
                        <% } %>
            </div>
        
            <div class="col-sm-4" style=" line-height:1.0">   
               
                 <span style="color:rgb(119, 119, 121); font-size: 1.5em"> 
                    Status:<% if(work.status==="Scheduled" ) {%>
                         <span style="color:rgb(8, 96, 249)">
                             <%=work.status %>
                         </span>
                         <% } %>
                             <% if(work.status==="Advertised" ) {%>
                                 <span style="color:rgb(6, 240, 45)">
                                     <%=work.status %>
                                 </span>
                                 <% } %>
 
                                 <% if(work.status==="Evaluation" ) {%>
                                     <span style="color:rgb(246, 187, 11)">
                                         <%=work.status %>
                                     </span>
                                     <% } %>
 
                                     <% if(work.status==="Awarded" ) {%>
                                         <span style="color:rgba(3, 107, 14, 0.704)">
                                             <%=work.status %>
                                         </span>
                                         <% } %>
 
                                             <% if(work.status==="Cancelled" ) {%>
                                                 <span style="color:rgb(250, 112, 7)">
                                                     <%=work.status %>
                                                 </span>
                                                 <% } %>
                                                    </span>
            </div> 
            <% if 
            ((currentUser && work.author.equals(currentUser._id) || currentUser &&
            currentUser.isAdmin || currentUser && currentUser.isADB) 
            & 
            (work.status==="Evaluation" | work.status==="Advertised" | work.status==="Scheduled"))
            {%>
            <div class="col-sm-6" style=" line-height:1.0">  
            <p class="mt-3"><a class="btn btn-warning btn-sm" style="padding-left: 15px; padding-right: 15px ;" href="/works/<%=work._id%>/status" role="button">Change Status</a></p>
            </div> 
            <% } %>
    </div>  
        </div> 
            </div> 

<br>

<div class="row">

    <!-- Block On Left -->  
        <div class="col-sm-6">
            <div class="card">
                <div class="card-body">
                <div class="row">
                <div class="col-sm-12">
                    <h5 style="font-size: 1em">Value US$ (estimated)</h5>
                                <ul>
                                <li><bold><%= work.value.toLocaleString(undefined, { minimumFractionDigits: 0 })%></bold>
                                </li>
                                </ul>
                    <h5 style="font-size: 1em">Method</h5>
                                <ul>
                                <li><bold><%= work.method%></bold>
                                </li>
                                </ul>
                                <% if(work.status==="Scheduled") {%>
                                <h5 style="font-size: 1em">Advertising</h5>
                                <ul>
                                <li><bold><%= work.advertisingQ%>-<%= work.advertisingY%></bold>
                                </li>
                                <% } %> 
                                </ul>
                    <h5 style="font-size: 1em">Approach</h5>
                                <ul>
                                <li><bold><%= work.approach%></bold>
                                </li>
                                </ul>
                    <% if(work.approach==="International") {%>
                    <h5 style="font-size: 1em">Domestic Preference</h5>
                                <ul>
                                <li><bold><%= work.domesticPreference%></bold>
                                </li>
                                </ul>
                                <% } %>
                    <% if(work.method==="OCB limited") {%>
                    <h5 style="font-size: 1em">Pre-qualification</h5>
                                <ul>
                                    <li><bold><%= work.prequal%></bold>
                                    </li>
                                </ul>
                                <% } %>
                    <h5 style="font-size: 1em">Standard Bid Document</h5>
                                <ul>
                                    <li><bold><%= work.sbd%></bold>
                                    </li>
                                </ul> 
                    <% if(work.procedure!="") {%>
                    <h5 style="font-size: 1em">Procedure</h5>
                                <ul>
                                    <li><bold><%= work.procedure%></bold>
                                    </li>
                                </ul>
                                <% } %>
                    <h5 style="font-size: 1em">ADB Review</h5>
                                <ul>
                                    <li><bold><%= work.review%></bold>
                                    </li>
                                </ul>

                </div>
                </div>
                </div>
            </div>
        </div>

    <!-- Package Details --> 
        <div class="col-sm-6">
        <div class="card">
        <div class="card-body">

    <div class="row">   
            <div class="col-sm-12">      
                <% if(work.lots===1) {%>
                    <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <%  if( work.lots.length===0)  {%>
                            <% } else{ %> 
                                Package Details (<%=work.lots%> lots)    
                            <% } %> 
                        </button>
                        </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                                <% if(work.lot1q!=null) {%>
                                    <li> 
                                    Lot 1: <%=work.lot1q%>;    
                                    estimated value: US$ <%=work.lot1v.toLocaleString(undefined, { minimumFractionDigits: 0 })%> 
                                    </li>
                                    <% } %> 
                                <br>
                                <span style="color:rgb(119, 119, 121); font-size: 1em"><em>TotalValue = US$ <%=(work.lot1v + work.lot2v + work.lot3v).toLocaleString(undefined, { minimumFractionDigits: 0 })%>
                               (variance = US$ <%=(work.lot1v + work.lot2v + work.lot3v - work.value)%>)</em></span>
                                </ul>  
                                    <p><a href="/works/<%=work._id%>/subLots">Edit</a></p>
                
                    </div>
                    </div>
                    </div>
                    </div>
                <% } %> 

                <% if(work.lots===2) {%>
                    <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                           
                        <%  if(work.lots.length===0)  {%>
                            <% } else{ %> 
                                Package Details (<%=work.lots%> lots)   
                        <% } %> 
                        
                        </button>
                        </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                                <% if(work.lot1q!=null) {%>
                                    <li> 
                                    Lot 1: <%=work.lot1q%>;    
                                    estimated value: US$ <%=work.lot1v.toLocaleString(undefined, { minimumFractionDigits: 0 })%> 
                                    </li>
                                    <% } %> 
                              
                                    <% if(work.lot2q!=null) {%>
                                    <li> 
                                    Lot 2: <%=work.lot2q%>;
                                    estimated value: US$ <%=work.lot2v.toLocaleString(undefined, { minimumFractionDigits: 0 })%> 
                                    </li>
                                    <% } %> 
                              
                                <br>
                                <span style="color:rgb(119, 119, 121); font-size: 1em"><em>TotalValue = US$ <%=(work.lot1v + work.lot2v + work.lot3v).toLocaleString(undefined, { minimumFractionDigits: 0 })%>
                               (variance = US$ <%=(work.lot1v + work.lot2v + work.lot3v - work.value)%>)</em></span>
                                </ul>  
                                    <p><a href="/works/<%=work._id%>/subLots">Edit</a></p>
                
                    </div>
                    </div>
                    </div>
                    </div>
                <% } %> 

                <% if(work.lots===3) {%>
                    <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                            <%  if( work.lots.length===0)  {%>
                                <% } else{ %> 
                                          Package Details (<%=work.lots%> lots)
                                <% } %> 
                        </button>
                        </h2>
                    <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
                    <div class="accordion-body">
                                <% if(work.lot1q!=null) {%>
                                    <li> 
                                    Lot 1: <%=work.lot1q%>;    
                                    estimated value: US$ <%=work.lot1v.toLocaleString(undefined, { minimumFractionDigits: 0 })%> 
                                    </li>
                                    <% } %> 
                              
                                    <% if(work.lot2q!=null) {%>
                                    <li> 
                                    Lot 2: <%=work.lot2q%>;
                                    estimated value: US$ <%=work.lot2v.toLocaleString(undefined, { minimumFractionDigits: 0 })%> 
                                    </li>
                                    <% } %> 
                                        
                                    <% if(work.lot3q!=null) {%>
                                        <li>
                                    Lot 3: <%=work.lot3q%>;
                                    estimated value: US$ <%=work.lot3v.toLocaleString(undefined, { minimumFractionDigits: 0 })%>
                                    </li>
                                    <% } %> 
                                <br>
                                <span style="color:rgb(119, 119, 121); font-size: 1em"><em>TotalValue = US$ <%=(work.lot1v + work.lot2v + work.lot3v).toLocaleString(undefined, { minimumFractionDigits: 0 })%>
                               (variance = US$ <%=(work.lot1v + work.lot2v + work.lot3v - work.value)%>)</em></span>
                                </ul>  
                                    <p><a href="/works/<%=work._id%>/subLots">Edit</a></p>
                
                    </div>
                    </div>
                    </div>
                    </div>
                <% } %> 
    </div>
</div>

 
<br>
<!-- Advertising Details for Advertising--> 
<% if(work.status==="Advertised") {%>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
        Advertising details
        </button>
        </h2>
        <div id="collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
        <div class="accordion-body">
                                <ul>
                                    <% if(work.advertised!=null) {%>
                                    <li>BD Advertised/issued on:  <%=work.advertised.toDateString()%>
                                    </li>
                                    <li>Bid Submission Deadline on:  <%=work.deadline.toDateString()%>
                                    </li>
                                    <% } %> 
                                </ul>  
            <span style="color:rgb(119, 119, 121); font-size: 1em"> <em>Nr days = <%=((work.deadline - work.advertised) / (1000 * 60 * 60 * 24))%></em></span>
                            <p><a href="/works/<%=work._id%>/advertising">Edit</a></p>
        </div>
        </div>
    </div>  
    </div>
<% } %> 
<br>

<!-- Bid Details for Evaluation--> 
<% if(work.status==="Evaluation") {%> 
    <div class="row">   
    <div class="col-sm-12">      
        <% if(work.evaluationworks.length===1) {%>
            <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <%  if(work.evaluationworks.length===0)  {%>
                    <% } else{ %> 
                        Bid Opening Details: (<%=work.evaluationworks.length%> bidders)    
                    <% } %> 
                </button>
                </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                <ul>
                        <% if(work.bidOpeningN1!=null) {%>
                            <li> 
                            Bidder 1: <%=work.bidOpeningN1%>;    
                            bid value: US$ <%=work.bidOpeningV1.toLocaleString(undefined, { minimumFractionDigits: 0 })%> 
                            <% if(work.lots>1) {%>
                            for <%=work.bidOpeningL1%> lots
                            <% } %> 
                            </li>
                            <span style="color:rgb(119, 119, 121); font-size: 1em"><em>
                                (variance = US$ <%=(work.bidOpeningV1 - work.value)%>)</em></span>
                            <% } %> 
                </ul>  
                <br>
    <% if 
    (currentUser && work.author.equals(currentUser._id) || currentUser &&
    currentUser.isAdmin || currentUser && currentUser.isADB)
    {%>
                            <p><a href="/works/<%=work._id%>/bidOpening">Edit</a></p>
    <% } %>
        
            </div>
            </div>
            </div>
            </div>
        <% } %> 

        <% if(work.evaluationworks.length===2) {%>
            <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                   
                <%  if( work.evaluationworks.length===0)  {%>
                    <% } else{ %> 
                        Bid Opening Details: (<%=work.evaluationworks.length%> bidders)   
                <% } %> 
                
                </button>
                </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                    <ul>
                        <% if(work.bidOpeningN1!=null) {%>
                            <li> 
                            Bidder 1: <%=work.bidOpeningN1%>;    
                            bid value: US$ <%=work.bidOpeningV1.toLocaleString(undefined, { minimumFractionDigits: 0 })%> 
                            <% if(work.lots>1) {%>
                            for <%=work.bidOpeningL1%> lots
                            <% } %> 
                            </li>
                            <span style="color:rgb(119, 119, 121); font-size: 1em"><em>
                                (variance = US$ <%=(work.bidOpeningV1 - work.value)%>)</em></span>
                            <% } %> 
                            <% if(work.bidOpeningN2!=null) {%>
                            <li> 
                            Bidder 2: <%=work.bidOpeningN2%>;
                            bid value: US$ <%=work.bidOpeningV2.toLocaleString(undefined, { minimumFractionDigits: 0 })%> 
                            <% if(work.lots>1) {%>
                            for <%=work.bidOpeningL2%> lots
                            <% } %>     
                        </li>
                            <span style="color:rgb(119, 119, 121); font-size: 1em"><em>
                                (variance = US$ <%=(work.bidOpeningV2 - work.value)%>)</em></span>
                            <% } %> 
                    </ul>  
                    <br>
                    <% if  (currentUser && work.author.equals(currentUser._id) || currentUser &&
                    currentUser.isAdmin || currentUser && currentUser.isADB)
                    {%>
                            <p><a href="/works/<%=work._id%>/bidOpening">Edit</a></p>
                            <% } %>
        
            </div>
            </div>
            </div>
            </div>
        <% } %> 

        <% if(work.evaluationworks.length===3) {%>
            <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <%  if(work.evaluationworks.length===0)  {%>
                        <% } else{ %> 
                                  Bid Opening Details (<%=work.evaluationworks.length%> bidders)
                        <% } %> 
                </button>
                </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                    <ul>
                        <% if(work.bidOpeningN1!=null) {%>
                            <li> 
                            Bidder 1: <%=work.bidOpeningN1%>;    
                            bid value: US$ <%=work.bidOpeningV1.toLocaleString(undefined, { minimumFractionDigits: 0 })%> 
                            <% if(work.lots>1) {%>
                                for <%=work.bidOpeningL1%> lots
                                <% } %>   
                            </li>
                            <span style="color:rgb(119, 119, 121); font-size: 1em"><em>
                                (variance = US$ <%=(work.bidOpeningV1 - work.value)%>)</em></span>
                            <% } %> 
                      
                            <% if(work.bidOpeningN2!=null) {%>
                            <li> 
                            Bidder 2: <%=work.bidOpeningN2%>;
                            bid value: US$ <%=work.bidOpeningV2.toLocaleString(undefined, { minimumFractionDigits: 0 })%> 
                            <% if(work.lots>1) {%>
                                for <%=work.bidOpeningL2%> lots
                                <% } %> 
                            </li>
                            <span style="color:rgb(119, 119, 121); font-size: 1em"><em>
                                (variance = US$ <%=(work.bidOpeningV2 - work.value)%>)</em></span>
                            <% } %> 
                                
                            <% if(work.bidOpeningN3!=null) {%>
                                <li>
                            Bidder 3: <%=work.bidOpeningN3%>;
                            bid value: US$ <%=work.bidOpeningV3.toLocaleString(undefined, { minimumFractionDigits: 0 })%>
                            <% if(work.lots>1) {%>
                                for <%=work.bidOpeningL3%> lots
                                <% } %> 
                            </li>
                            <span style="color:rgb(119, 119, 121); font-size: 1em"><em>
                                (variance = US$ <%=(work.bidOpeningV3 - work.value)%>)</em></span>
                            <% } %> 
                    <br>
                    <% if  (currentUser && work.author.equals(currentUser._id) || currentUser &&
                    currentUser.isAdmin || currentUser && currentUser.isADB)
                    {%>
                            <p><a href="/works/<%=work._id%>/bidOpening">Edit</a></p>
                            <% } %>
        
            </div>
            </div>
            </div>
            </div>
        <% } %> 


        <% if(work.evaluationworks.length>3) {%>
            <div class="accordion" id="accordionExample">
            <div class="accordion-item">
                <h2 class="accordion-header">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                    <%  if( work.evaluationworks.length===0)  {%>
                        <% } else{ %> 
                                  Bid Opening Details (<%=work.evaluationworks.length%> bidders)
                        <% } %> 
                </button>
                </h2>
            <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
            <div class="accordion-body">
                    <ul>
                        <% if(work.bidOpeningN1!=null) {%>
                            <li> 
                        Bidder 1: <%=work.bidOpeningN1%>;    
                            bid value: US$ <%=work.bidOpeningV1.toLocaleString(undefined, { minimumFractionDigits: 0 })%> 
                            <% if(work.lots>1) {%>
                                for <%=work.bidOpeningL1%> lots
                                <% } %>   
                            </li>
                            <span style="color:rgb(119, 119, 121); font-size: 1em"><em>
                                (variance = US$ <%=(work.bidOpeningV1 - work.value)%>)</em></span>
                        <% } %> 
                      
                            <% if(work.bidOpeningN2!=null) {%>
                            <li> 
                        Bidder 2: <%=work.bidOpeningN2%>;
                            bid value: US$ <%=work.bidOpeningV2.toLocaleString(undefined, { minimumFractionDigits: 0 })%> 
                            <% if(work.lots>1) {%>
                                for <%=work.bidOpeningL2%> lots
                                <% } %> 
                            </li>
                            <span style="color:rgb(119, 119, 121); font-size: 1em"><em>
                                (variance = US$ <%=(work.bidOpeningV2 - work.value)%>)</em></span>
                        <% } %> 
                            <% if(work.bidOpeningN3!=null) {%>
                                <li>
                        Bidder 3: <%=work.bidOpeningN3%>;
                            bid value: US$ <%=work.idOpeningV3.toLocaleString(undefined, { minimumFractionDigits: 0 })%>
                            <% if(work.lots>1) {%>
                                for <%=work.bidOpeningL3%> lots
                                <% } %> 
                            </li>
                            <span style="color:rgb(119, 119, 121); font-size: 1em"><em>
                                (variance = US$ <%=(work.bidOpeningV3 - work.value)%>)</em></span>
                        <% } %> 
                        <% if(work.bidOpeningN4!=null) {%>
                            <li>
                        Bidder 4: <%=work.bidOpeningN4%>;
                            bid value: US$ <%=work.bidOpeningV4.toLocaleString(undefined, { minimumFractionDigits: 0 })%>
                            <% if(work.lots>1) {%>
                                for <%=work.bidOpeningL4%> lots
                                <% } %> 
                            </li>
                            <span style="color:rgb(119, 119, 121); font-size: 1em"><em>
                                (variance = US$ <%=(work.bidOpeningV4 - work.value)%>)</em></span>
                            <% } %> 
                            <% if(work.bidOpeningN5!=null) {%>
                                <li>
                        Bidder 5: <%=work.bidOpeningN5%>;
                            bid value: US$ <%=work.bidOpeningV5.toLocaleString(undefined, { minimumFractionDigits: 0 })%>
                            <% if(work.lots>1) {%>
                                for <%=work.bidOpeningL5%> lots
                                <% } %> 
                            </li>
                            <span style="color:rgb(119, 119, 121); font-size: 1em"><em>
                                (variance = US$ <%=(work.bidOpeningV5 - workvalue)%>)</em></span>
                            <% } %> 
                            <% if(work.bidOpeningN6!=null) {%>
                                <li>
                        Bidder 6: <%=workbidOpeningN6%>;
                            bid value: US$ <%=work.bidOpeningV6.toLocaleString(undefined, { minimumFractionDigits: 0 })%>
                            <% if(work.lots>1) {%>
                                for <%=work.bidOpeningL6%> lots
                                <% } %> 
                            </li>
                            <span style="color:rgb(119, 119, 121); font-size: 1em"><em>
                                (variance = US$ <%=(work.bidOpeningV6 - work.value)%>)</em></span>
                            <% } %> 

                    <br>
                    <% if  (currentUser && work.author.equals(currentUser._id) || currentUser &&
                    currentUser.isAdmin || currentUser && currentUser.isADB)
                    {%>
                            <p><a href="/works/<%=work._id%>/bidOpening">Edit</a></p>
                    <% } %>
        
            </div>
            </div>
            </div>
            </div>
        <% } %> 



    </div>
    </div>
    <% } %>

<br>
<!-- Contract Details --> 
<% if(work.status==="Awarded") {%>
    <div class="accordion" id="accordionExample">
    <div class="accordion-item">
        <h2 class="accordion-header">
        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
        Contract Details 
        </button>
        </h2>
    <div id="collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
    <div class="accordion-body">
                    <% if(work.lots=== 1) {%>
                    <ul>   
                        <span style="color:rgb(0, 1, 4); font-size: 1em"> Contract 1</span>
                        
                        <span style="color:rgb(119, 119, 121); font-size: 1em"> 
                            <% if( (work.contractDate - Date.now())/604800000 <= -1)      {%>
                                        <li> 
                                        Signed: <%=work.contractDate.toDateString() %>
                                        </li>
                                <% } %> 
                            
                                <% if(work.contractName!=null) {%>
                                        <li> 
                                        Name: <%=work.contractName%>
                                        </li>
                                <% } %> 

                                <% if(work.contractType!=null) {%>
                                        <li> 
                                        Type: <%=work.contractType%>
                                        </li>
                                <% } %> 

                                <% if(work.contractSum!=null) {%>
                                        <li> 
                                        Sum: US$ <%=work.contractSum.toLocaleString(undefined, { minimumFractionDigits: 0 })%>
                                        </li>
                                <% } %> 
                            </span>
                                </ul>   
                    <% } %> 
                    <% if(work.lots=== 2) {%>    
                        <ul>   
                            <span style="color:rgb(0, 1, 4); font-size: 1em"> Contract 1</span>
                            
                            <span style="color:rgb(119, 119, 121); font-size: 1em"> 
                                <% if( (work.contractDate - Date.now())/604800000 <= -1)      {%>
                                            <li> 
                                            Signed: <%=work.contractDate.toDateString() %>
                                            </li>
                                    <% } %> 
                                
                                    <% if(work.contractName!=null) {%>
                                            <li> 
                                            Name: <%=work.contractName%>
                                            </li>
                                    <% } %> 
                    
                                    <% if(work.contractType!=null) {%>
                                            <li> 
                                            Type: <%=work.contractType%>
                                            </li>
                                    <% } %> 
                    
                                    <% if(work.contractSum!=null) {%>
                                            <li> 
                                            Sum: US$ <%=work.contractSum.toLocaleString(undefined, { minimumFractionDigits: 0 })%>
                                            </li>
                                    <% } %> 
                                </span>
                                </ul>  
                        <ul> 
                                    
                                    <span style="color:rgb(0, 1, 4); font-size: 1em"> Contract 2</span>
                        
                                    <span style="color:rgb(119, 119, 121); font-size: 1em"> 
                                    <% if( (work.contractDate2 - Date.now())/604800000 <= -1)      {%>
                                            <li> 
                                            Signed: <%=work.contractDate2.toDateString() %>
                                            </li>
                                    <% } %> 
                                
                                    <% if(work.contractName2!=null) {%>
                                            <li> 
                                            Name: <%=work.contractName2%>
                                            </li>
                                    <% } %> 
                    
                                    <% if(work.contractType2!=null) {%>
                                            <li> 
                                            Type: <%=work.contractType%>
                                            </li>
                                    <% } %> 
                    
                                    <% if(work.contractSum2!=null) {%>
                                            <li> 
                                            Sum: US$ <%=work.contractSum2.toLocaleString(undefined, { minimumFractionDigits: 0 })%>
                                            </li>
                                    <% } %> 
                                </span>    
                                </ul>   
                    <% } %>  
                    <% if(work.lots=== 3) {%>
                        <ul>   
                            <span style="color:rgb(0, 1, 4); font-size: 1em"> Contract 1</span>
                            
                            <span style="color:rgb(119, 119, 121); font-size: 1em"> 
                                <% if( (work.contractDate - Date.now())/604800000 <= -1)      {%>
                                            <li> 
                                            Signed: <%=work.contractDate.toDateString() %>
                                            </li>
                                    <% } %> 
                                
                                    <% if(work.contractComp!=null) {%>
                                        <li> 
                                        Contractor: <%=work.contractComp%>
                                        </li>
                                    <% } %> 

                                    <% if(work.contractName!=null) {%>
                                            <li> 
                                            Name: <%=work.contractName%>
                                            </li>
                                    <% } %> 
                    
                                    <% if(work.contractType!=null) {%>
                                            <li> 
                                            Type: <%=work.contractType%>
                                            </li>
                                    <% } %> 
                    
                                    <% if(work.contractSum!=null) {%>
                                            <li> 
                                            Sum: US$ <%=work.contractSum.toLocaleString(undefined, { minimumFractionDigits: 0 })%>
                                            </li>
                                    <% } %> 
                                </span>
                                </ul>  
                        <ul> 
                                    
                                    <span style="color:rgb(0, 1, 4); font-size: 1em"> Contract 2</span>
                        
                                    <span style="color:rgb(119, 119, 121); font-size: 1em"> 
                                    <% if( (work.contractDate2 - Date.now())/604800000 <= -1)      {%>
                                            <li> 
                                            Signed: <%=work.contractDate2.toDateString() %>
                                            </li>
                                    <% } %> 
                                
                                    <% if(work.contractComp2!=null) {%>
                                        <li> 
                                        Contractor: <%=work.contractComp2%>
                                        </li>
                                    <% } %> 
                                
                                    <% if(work.contractName2!=null) {%>
                                            <li> 
                                        Contract Name: <%=work.contractName2%>
                                            </li>
                                    <% } %> 
                    
                                    <% if(work.contractType2!=null) {%>
                                            <li> 
                                            Type: <%=work.contractType2%>
                                            </li>
                                    <% } %> 
                    
                                    <% if(work.contractSum2!=null) {%>
                                            <li> 
                                            Sum: US$ <%=work.contractSum2.toLocaleString(undefined, { minimumFractionDigits: 0 })%>
                                            </li>
                                    <% } %> 
                                </span>    
                                </ul>  
                        <ul> 
                                    
                                    <span style="color:rgb(0, 1, 4); font-size: 1em"> Contract 3</span>
                        
                                    <span style="color:rgb(119, 119, 121); font-size: 1em"> 
                                    <% if( (work.contractDate3 - Date.now())/604800000 <= -1)      {%>
                                            <li> 
                                            Signed: <%=work.contractDate3.toDateString() %>
                                            </li>
                                    <% } %> 

                                    <% if(work.contractComp3!=null) {%>
                                        <li> 
                                        Contractor: <%=work.contractComp3%>
                                        </li>
                                    <% } %> 
                                
                                    <% if(work.contractName3!=null) {%>
                                            <li> 
                                            Contract Name: <%=work.contractName3%>
                                            </li>
                                    <% } %> 
                    
                                    <% if(work.contractType3!=null) {%>
                                            <li> 
                                            Type: <%=work.contractType3%>
                                            </li>
                                    <% } %> 
                    
                                    <% if(work.contractSum3!=null) {%>
                                            <li> 
                                            Sum: US$ <%=work.contractSum3.toLocaleString(undefined, { minimumFractionDigits: 0 })%>
                                            </li>
                                    <% } %> 
                                </span>   
                                </ul>  
                    <% } %> 

                        <br>

                        <span style="color:rgb(119, 119, 121); font-size: 1em"> TotalValue = US$ <%=(work.contractSum + work.contractSum2 + work.contractSum3).toLocaleString(undefined, { minimumFractionDigits: 0 })%>
                            <em>(variance = US$ <%=((work.contractSum + work.contractSum2+ work.contractSum3) - (work.value)).toLocaleString(undefined, { minimumFractionDigits: 0 })%>)</em></span>
                            <p><a href="/works/<%=work._id%>/contractSum">Edit</a></p>

                    </div> 
                </div> 
            </div> 
    </div> 
<% } %> 




</div> 

<div class="col-sm-6">
    <br>
    <span style="color:rgb(162, 164, 165)">
    
    
        <% if  ((currentUser && work.author.equals(currentUser._id) || currentUser &&
        currentUser.isAdmin || currentUser && currentUser.isADB) 
        & 
        (work.status==="Scheduled"))
        {%>
            <div class="row">
                <div class="col-6">
            <p> <a class="btn btn-sm btn-warning" href="/works/<%=work._id%>/edit">Edit</a></p>
                </div>
                <div class="col-6">
            <form action="/works/<%=work._id%>?_method=DELETE" method="POST">
            <button class="btn btn-sm btn-danger">Delete</button>
            </form>
                </div>
            </div>
            <% } %>
    </div>
</div>

<br>

<div class="row">

    <!-- Submit EOI -->
    <% if(work.status==="Scheduled" || work.status==="Advertised" ) {%>
    <div class="col-sm-12">
        <div class="card">
            <div class="card-body">
            <h3>EOIs (<%=work.evaluationworks.length%>)</h3> 
            <p><span style="color:rgb(119, 119, 121); font-size: 0.8em"> Expression Interest at this stage is fully non-committal (for information only). However bidders are informed that as part of a formal bid you will be asked to provide one or more similar contracts concluded in the past 3 years of a value around <strong>US$ <%= (work.value*0.8).toLocaleString(undefined, { minimumFractionDigits: 0 })%></strong>, or more and demonstrate having an annual turnover of at least <strong>US$ <%= (work.value*1.25).toLocaleString(undefined, { minimumFractionDigits: 0 })%> </strong> (average) measured over past 3 years.</span></p>  
            <p><a class="btn btn-sm btn-primary" href="/works/<%=work._id%>/evaluationworks/new">Add a new EOI</a> </p>       
                <% for(let evaluationwork of work.evaluationworks) {%>
                        <ul>
                        <li>
                            <p style="font-size: .8em"> <span style="color:rgb(119, 119, 121)"><%=evaluationwork.company%> - <%=evaluationwork.country%> <span style="color:rgb(186, 186, 189)"><em>(submitted by: <%=evaluationwork.author.username%>, on  <%=evaluationwork.createdAt.toDateString()%>)</em></span></span></p>
                        </li>
                        </ul>
                        <% } %> 
                  
            </div>
        </div>
    </div>
    <% } %>

    <!-- Evaluation Comments (checks)--> 
    <% if(work.status==="Evaluation") {%>  
        <div class="col-12">
                <h5 style="font-size: 1em">Evaluation notes</h5>
                <form action="/works/<%=work._id%>/checks" method="POST" class="mb-3 validated-form" novalidate>
                    <div class="mb-3">
                        <textarea class="form-control" name="check[body]" id="body" cols="30" rows="4" required></textarea>
                    </div>
                    <button class="btn btn-sm btn-success ">Submit</button>
                </form>
                <% for(let check of work.checks) { %>
                <div class="card mb-3 ">
                    <div class="card-body">
                        <p class="card-text"><%= check.body %> </p>
                        <p><em><span style="color:rgb(33, 32, 32); font-size: 0.8em" ">Author: <%= check.author.username %> at <%= check.createdAt.toDateString() %></span></em></p>
                        <form action="/works/<%=work._id%>/checks/<%=check._id%>?_method=DELETE" method="POST">
                            <button class="btn btn-sm btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
                <% } %>
        </div>
    <% } %>

    <!-- Contract Comments (comments)--> 
    <% if(work.status=== "Awarded") {%>
        <div class="col-12">
            <h5 style="font-size: 1em">Contract Comments</h5>
            <form action="/works/<%=work._id%>/comments" method="POST" class="mb-3 validated-form" novalidate>
                <div class="mb-3">
                
                    <textarea class="form-control" name="comment[body]" id="body" cols="30" rows="4" required></textarea>
                
                </div>
                <button class="btn btn-sm btn-success">Submit</button>
            </form>
            <% for(let comment of work.comments) { %>
            <div class="card mb-3 ">
                <div class="card-body">
                    <p class="card-text">Comment: <%= comment.body %></p>
                    <p><em><span style="color:rgb(33, 32, 32);  font-size: 0.8em">Author: <%= comment.author.username %> at <%= comment.createdAt.toDateString() %></span></em></p>
                    <form action="/works/<%=work._id%>/comments/<%=comment._id%>?_method=DELETE" method="POST">
                        <button class="btn btn-sm btn-danger">Delete</button>
                    </form>
                </div>
            </div>
            <% } %>
        </div>
        <% } %>

</div>
</div>
</div>
<br>

