<% layout('layouts/boilerplate')%>

<div class="row"></div>
    <h1 class="text-center">Edit Device details</h1>
    <div class="col-6 offset-3">

    <form action="/products/<%=product._id%>?_method=PUT" method="POST" novalidate class = "validated-form">
       
        <div class="mb-3 mt-3">
            <label class="form-label" for="name">Project Name</label>
            <input class="form-control" type="text" id="name" name="product[name]" value="<%=product.name%>">
        </div>

        <div class="mb-3 mt-3">
            <label class="form-label" for="number">Project Number</label>
            <input class="form-control"  type="text" id="number" name="product[number]" value="<%=product.number%>">
        </div>

        <div class="mb-3 mt-3">
            <label class="form-label" for="approvalNumber">Project Approval Number</label>
            <input class="form-control"  type="text" id="approvalNumber" name="product[approvalNumber]" value="<%=product.approvalNumber%>">
        </div>

        <div class="mb-3 mt-3">
            <label class="form-label" for="agency">Implementing Agency</label>
            <input class="form-control"  type="text" id="agency" name="product[agency]" value="<%=product.agency%>">
        </div>

        <div class="mb-3">
            <label class="form-label" for="country" class="form-label">Country</label>
            <input class="form-control" list="countries"name="product[country]" id="country" value="<%=product.country%>">
        </div>

        <div class="mb-3 mt-3">
            <label class="form-label" for="financing">Project Financing</label>
            <div style="font-size: 12px"><span style="color:rgb(119, 119, 121)">From the final RRP</div>
            <input class="form-control"  type="number" step=".01" id="financing" name="product[financing]" value="<%=product.financing%>">
        </div>

        <div class="mb-3 mt-3">
            <label class="form-label" for="risk">Procurement Risk</label>
            <div style="font-size: 12px"><span style="color:rgb(119, 119, 121)">From the Strategic Procurement Plan</div>
            <input class="form-control"  type="text" id="risk" name="product[risk]" value="<%=product.risk%>">
        </div>

        <div class="mb-3 mt-3">
            <label class="form-label" for="planValue">Procurement Plan Value (Million $US)</label>
            <input class="form-control" type="number" step=".01" id="planValue" name="product[planValue]" value="<%=product.planValue%>">
        </div>

        <div class="mb-3 mt-3">
            <label class="form-label" for="methods">Procurement Methods (Goods, Works, NCS)
                <div style="font-size: 12px"><span style="color:rgb(119, 119, 121)">Select procurement methods used in this project
                </div>
            </label>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="ocb" name="product[methods]" value=" OCB ">
                <label class="form-check-label" for="ocb"> OCB </label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="rfqL" name="product[methods]" value=" RFQ_limited ">
                <label class="form-check-label" for="rfqL"> RFQ_limited </label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="rfqP" name="product[methods]" value=" RFQ_public ">
                <label class="form-check-label" for="rfqP"> RFQ_public </label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="dc" name="product[methods]" value=" DC ">
                <label class="form-check-label" for="dc"> DC (Single Source) </label>
            </div>
        </div>
        
        <div class="mb-3 mt-3">
            <label class="form-label" for="methodsCS">Procurement Methods (Consultancies)
                <div style="font-size: 12px"><span style="color:rgb(119, 119, 121)">Select the selection methods used in this project
                </div>
            </label>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="qcbs" name="product[methodsCS]" value=" OCBS ">
                <label class="form-check-label" for="qcbs"> OCBS (EOI/RFP)</label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="cqs" name="product[methodsCS]" value=" CQS ">
                <label class="form-check-label" for="cqs"> CQS </label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="lcs" name="product[methodsCS]" value=" LCS ">
                <label class="form-check-label" for="lcs"> LCS </label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="ics" name="product[methodsCS]" value=" ICS ">
                <label class="form-check-label" for="ics"> ICS </label>
            </div>
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="direct" name="product[methodsCS]" value=" DIRECT ">
                <label class="form-check-label" for="direct"> Direct Selection </label>
            </div>
        </div>









        <div class="mb-3 mt-3">
            <label class="form-label" for="effective">Effective Date</label>
            <input class="form-control"  type="text" id="effective" name="product[effective]"  value="<%=product.effective.toDateString()%>">
        </div>

        <div class="mb-3 mt-3">
            <label class="form-label" for="closing">Closing Date</label>
            <input class="form-control"  type="text" id="closing" name="product[closing]"  value="<%=product.closing.toDateString()%>">
        </div>
    

        <button class="btn btn-warning">Update Plan</button>
    </form>
<br>
</div>